.container {
    padding: 0 15px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
    background-color: #242424;
    padding: 5px;
    border-radius: 5px;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.barchart {
    display: flex;
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.barchart > a {
    background-color: rgba(0,0,0,.35);
    overflow: hidden;
    height: 100%;
    flex-grow: 1;
    margin-right: 1px;
    display: flex;
    align-items: flex-end;
    padding-top: 30px;
}

.barchart > a div {
    background-color: #e74c3c;
    height: 0%;
    display: block;
    flex-grow: 1;
}
