.container {
    padding: 0 15px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
    background-color: #242424;
    padding: 5px;
    border-radius: 5px;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.barchart {
    display: flex;
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
